/****************/
/**** COLORS ****/
/****************/
/*dark-gray: #202020*/
/*green: rgb(100, 226, 97)*/
/*dark red: #88082f*/

html, body {
  padding: 0;
  margin: 0;
}

body {
  font: 16px/1.5 "Open Sans", "Helvetica Neue", Helvetica, arial, sans-serif;
  font-weight: 300;
  color: #202020;
  letter-spacing: 0.1px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.u-hidden {
  display: none !important;
}
.main-column {
  display: flex;
  flex-direction: column;
  width: 800px;
}

.segment-container {}

.chart-container {
  width: 80%;
  padding: 20px;
}
.chart {

}
.chart .bar {
  fill: #88082f;
}

.chart .bar-label {
  font-size: 12px;
}

.chart .bar-value {
  text-anchor: end;
  fill: white;
  font-weight: bold;
}
.chart .bar-value.bar-value--small {
  text-anchor: start;
  fill: #88082f;
  font-weight: bold;
}

.choose-segment {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-height: 150px;
}

.choose-segment .segment {
  padding: 5px;
  border: 1px rgb(100, 226, 97) solid;
  margin: 3px;
}

.info-segment__question {
  color: #202020;
  font-size: 13px;
}


.intro {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
}

.go-button {
  background-color: rgb(100, 226, 97);
  padding: 5px;
  color: white;
  margin-top: 20px;
  cursor: pointer;
  width: 200px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wordcloud-text {
  text-anchor: middle;
}

.nav-menu {
  position: fixed;
  width: 700px;
  left: -700px;
  background: white;
  transition: all ease 300ms;
  -webkit-transition: all ease 300ms;
  -moz-transition: all ease 300ms;
  -webkit-box-shadow: 4px 4px 20px -2px rgba(0,0,0,0.26);
  -moz-box-shadow: 4px 4px 20px -2px rgba(0,0,0,0.26);
  box-shadow: 4px 4px 20px -2px rgba(0,0,0,0.26);
  height: 100%;
  overflow: scroll;
  z-index: 1;
}

.toggle-menu-handle {
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgb(100, 226, 97);
  transition: all ease 300ms;
  -webkit-transition: all ease 300ms;
  -moz-transition: all ease 300ms;
  color: white;
  width: 65px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index:2;
}
h1 {
  height: 40px;
}

.nav-menu.nav-menu--open {
  left: 0;
}
.nav-menu.nav-menu--open .toggle-menu-handle {
  left: 700px;
}
.menu-overlay {
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  margin:0;
  opacity: 0;
  background-color: rgba(0,0,0,0.1);
  pointer-events: none;
  z-index:0;
  transition: opacity ease 300ms;
  -webkit-transition: opacity ease 300ms;
  -moz-transition: opacity ease 300ms;
}
.menu-overlay.menu-overlay--open {
  pointer-events: auto;
  opacity: 1;
}

.menu-question-list li {
  /*width: 250px;*/
  padding: 0;
  list-style-type: none;
}
.menu-question-theme--label {
  color: rgb(100, 226, 97);
  font-weight: bold;
  text-transform: uppercase;
  padding:5px;
  margin:0;
}
.menu-question-item:hover {
  background-color: #f2f2f2;
}
.menu-question-item {
  padding:5px;
  cursor: pointer;
}
.menu-question-list {
  display: flex;
  z-index:2;
  flex-direction: column;
  /*height: 200px;*/
  height: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 0;
}

.segment-container {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.segment-controls {
  height: 45px;
}
.segment-controls span {
  padding: 10px;
  border: 1px rgb(100, 226, 97) solid;
  margin: 3px;
  transition: all ease 200ms;
}
.segment.selected,
.segment-controls span.selected {
  background: rgb(100, 226, 97);
  color: white;
}
