---
---
// Media queries
$screen-phone-max: 767px;
$screen-tablet-max: 1024px;

@mixin respond-to($media) {
  @if $media == phone {
    @media screen and (max-width: $screen-phone-max),
      projection and (max-width: $screen-phone-max) {
      @content;
    }
  }
  @else if $media == tablet {
    @media screen and (min-width: $screen-phone-max+1) and (max-width: $screen-tablet-max),
      projection and (min-width: $screen-phone-max+1) and (max-width: $screen-tablet-max) {
      @content;
    }
  }
  @else if $media == desktop {
    @media screen and (min-width: $screen-tablet-max+1),
    projection and (min-width: $screen-tablet-max+1){
      @content;
    }
  }
}


/****************/
/**** COLORS ****/
/****************/
/*dark-gray: #202020*/
/*green: rgb(234, 46, 46)*/
/*dark red: #88082f*/

html, body {
  padding: 0;
  margin: 0;
}

@include respond-to(phone) {
  ::-webkit-scrollbar {
    display: none;
  }
}

body {
  font: 16px/1.5 Change Calibre,Helvetica Neue,Helvetica,Arial,Tahoma,sans-serif;
  font-weight: 300;
  color: #202020;
  letter-spacing: 0.1px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.question-label {
  @include respond-to(phone) {
    font-size: 20px;
    margin: 10px 0;
  }
}

.u-hidden {
  display: none !important;
}
.main-column {
  display: flex;
  flex-direction: column;
  width: 800px;

  @include respond-to(phone) {
    width: 100%;
  }
}

button.btn {
  cursor: pointer;
}

.highlights-btn {
  display: flex;
  flex-direction: row;

  @include respond-to(phone) {
    flex-wrap: wrap;
  }

  .btn {
    margin: 1em;
  }
}

.highlight-btn__img {
  margin-top: 0.5em;
}

.highlight-btn__img--top {
  margin-bottom: 0.5em;
  margin-top: 0;
}

img.banner {
  margin-bottom: 1em;
}


.segment-container {}

.chart-container {
  width: 80%;
  padding: 20px;

  @include respond-to(phone) {
    width: 100%;
    padding: 0;
    overflow: scroll;
  };
}
.chart {

}
.chart .bar {
  fill: rgb(234, 46, 46);
}

.chart .bar-label {
  font-size: 12px;
}

.chart .bar-value {
  text-anchor: end;
  fill: white;
  font-weight: bold;
}
.chart .bar-value.bar-value--small {
  text-anchor: start;
  fill: rgb(234, 46, 46);
  font-weight: bold;
}


.info-segment__question {
  color: #202020;
  font-size: 13px;
}


.intro {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
}

.wordcloud-text {
  text-anchor: middle;
}

$menu-width: 700px;
$menu-width--mobile: 85%;

.nav-menu {
  position: fixed;
  width: $menu-width;
  left: -$menu-width;
  background: white;
  transition: all ease 300ms;
  -webkit-transition: all ease 300ms;
  -moz-transition: all ease 300ms;
  -webkit-box-shadow: 4px 4px 20px -2px rgba(0,0,0,0.26);
  -moz-box-shadow: 4px 4px 20px -2px rgba(0,0,0,0.26);
  box-shadow: 4px 4px 20px -2px rgba(0,0,0,0.26);
  height: 100%;
  overflow: scroll;
  z-index: 1;

  @include respond-to(phone) {
    width: $menu-width--mobile;
    left: -$menu-width--mobile;
  }
}

.toggle-menu-handle {
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgb(234, 46, 46);
  transition: all ease 300ms;
  -webkit-transition: all ease 300ms;
  -moz-transition: all ease 300ms;
  color: white;
  width: 65px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index:10;
}
.branding {
  height: 40px;
  text-align: right;
  position: absolute;
  right: 0;

  img {
    max-height: 40px;
    max-width: 100px;
    display: inline-block;
  }

  .credits {
    height: 0px;
    overflow: hidden;
    transition: height 0.5s;
    width: auto;
    font-size: 12px;

    p {
      margin: 0;
    }
  }

  &:hover, &:focus {
    .credits {
      height: 60px;
    }
  }
}

.nav-menu.nav-menu--open {
  left: 0;
}
.nav-menu.nav-menu--open .toggle-menu-handle {
  left: $menu-width;

  @include respond-to(phone) {
    left: $menu-width--mobile;
  }
}
.menu-overlay {
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  margin:0;
  opacity: 0;
  background-color: rgba(0,0,0,0.1);
  pointer-events: none;
  z-index:0;
  transition: opacity ease 300ms;
  -webkit-transition: opacity ease 300ms;
  -moz-transition: opacity ease 300ms;
}
.menu-overlay.menu-overlay--open {
  pointer-events: auto;
  opacity: 1;
}

.menu-list li {
  /*width: 250px;*/
  padding: 0;
  list-style-type: none;
}
.menu-question-theme--label {
  color: rgb(234, 46, 46);
  font-weight: bold;
  text-transform: uppercase;
  padding:5px;
  margin:0;
}
.menu-question-item:hover {
  background-color: #f2f2f2;
}
.menu-question-item {
  padding:5px;
  cursor: pointer;
}
.menu-list {
  padding: 0;
}

.menu-content {
}

.segment-container {
  // height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: auto;
}
.segment-controls,
.choose-segment {
  @include respond-to(phone) {
    width: auto;
    overflow-x: auto;
    white-space: nowrap;
    padding: 5px 0;
  }

  span {
    display: inline-block;
    padding: 10px;
    border: 1px rgb(234, 46, 46) solid;
    margin: 3px;
    transition: background,color ease 200ms;
    cursor: pointer;

    @include respond-to(phone) {
      padding: 3px;
      margin: 0;
    }
  }
}

.segment.selected,
.segment-controls span.selected,
.choose-segment span.selected {
  background: rgb(234, 46, 46);
  color: white;
}
