---
---

$positive-color: #2f5587;
$negative-color: #dc1d13;

$divider-color: #dbd9db;

$quite-positive-color: mix($positive-color, $divider-color);
$quite-negative-color: mix($negative-color, $divider-color);

#yes-no {
  width: 800px;
  height: 400px;
}

.yes-no__value,
.yes-no__label {
  opacity: 0;
  transition: opacity 0.5s;
  text-anchor: middle;
}

.yes-no__group:hover,
.yes-no__group--biggest {
  .yes-no__value,
  .yes-no__label {
    opacity: 1;
  }
}

.yes-no__group[data-sentiment="very-positive"] .yes-no__bar {
  fill: $positive-color;
}

.yes-no__group[data-sentiment="quite-positive"] .yes-no__bar {
  fill: $quite-positive-color;
}

.yes-no__group[data-sentiment="quite-negative"] .yes-no__bar {
  fill: $quite-negative-color;
}

.yes-no__group[data-sentiment="very-negative"] .yes-no__bar {
  fill: $negative-color;
}

.yes-no__divider {
  stroke: $divider-color;
  stroke-width: 8px;
}
